@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    font: normal 28px 'Spoqa Han Sans Neo';
    color: rgb(228, 228, 228);
    background-color: rgb(10, 10, 10);
}
:global(html, body) {
    margin:0;
    padding:0;
    width: 100%;
    overflow-x: hidden;
    min-width:fit-content;
}
a{
    color: rgb(20, 184, 166);
}

